<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
 
        <%- include('../partials/header') %>
    <head>  
    </head>
        <%- include('../partials/navbar') %>
        <div class="app-content content">
            <div class="content-wrapper">
                <div class="content-header row"></div>
                <div class="content-body">
                    <!-- Your dashboard or content goes here -->
                    <h2>Welcome to Chameleon Admin</h2>
                    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
                        <div class="row mt-4">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">USERS LIST:</h5>
                                    </div>
                                    <% if (user.length > 0) { %>
                                    <div class="table-responsive">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>First Name</th>
                                                    <th>Last Name</th>
                                                    <th>Edit</th>
                                                    <th>Delete</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% user.forEach((user, index) =>
                                                { %>
                                                <tr>
                                                    <td><%= index + 1 %></td>
                                                    <td>
                                                        <%= user.firstname %>
                                                    </td>
                                                    <td>
                                                        <%= user.Lastname %>
                                                    </td>
                                                    <td>
                                                        <a
                                                            href="/admin/edit-user/<%= user._id %>"
                                                            class="text-primary fs-5"
                                                        >
                                                            <i
                                                                class="fas fa-edit"
                                                            ></i>
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <a
                                                            href="/admin/delete-user/<%= user._id %>"
                                                            class="text-danger fs-5"
                                                            onclick="return confirm('Are you sure you want to delete this user?')"
                                                        >
                                                            <i
                                                                class="fas fa-trash-alt"
                                                            ></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                                <% }) %>
                                            </tbody>
                                        </table>
                                    </div>
                                    <% } else { %>
                                    <p class="text-center">No users found.</p>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                    </main>
                </div>
            </div>
        </div>


        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="/theme-assets/vendors/js/vendors.min.js"></script>
        <script src="/theme-assets/js/core/app-menu-lite.js"></script>
        <script src="/theme-assets/js/core/app-lite.js"></script>
        <%- include('../partials/footer') %>

