<%- include('../partials/header') %>
<head>
  <style>
    .quantitybox{
      background-color: black;
      color:white
    }
    .box {
    height: 400px;
}
  </style>
</head>
<main>
    <!-- Hero Area Start -->
    <div class="slider-area box">
        <div class="single-slider slider-height2 d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center">
                            <h2 style="margin-bottom: 110px;">Cart List</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--================Cart Area =================-->
    <section class="cart_area section_padding">
        <div class="container">
            <div class="cart_inner">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Product</th>
                                <th scope="col">Name</th>
                                <th scope="col">Price</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for (let i = 0; i < products.length; i++) { %>
                            <tr>
                                <td>
                                    <div class="media">
                                        <div class="d-flex">
                                            <img
                                                src="<%= products[i].image[0].filepath || '/default.png' %>"
                                                alt="Product"
                                            />
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="media-body">
                                        <h5><%= products[i].title %></h5>
                                    </div>
                                </td>
                                <td>
                                    ₹&nbsp;<%=
                                    Number(products[i].pricing.price).toFixed(2)
                                    %>
                                </td>
                                <td>

                                        <input
                                            type="hidden"
                                            name="productId"
                                            value="<%= products[i]._id %>"
                                            
                                        />
                                        <div class="qty-selector">
                                          <button class="qty-btn quantitybox" onclick="changeQty(this, -1)">-</button>
                                          <span class="qty-value p-3">1</span>
                                          <button class="qty-btn quantitybox" onclick="changeQty(this, 1)">+</button>
                                      </div>

                                    </form>
                                </td>
                                <td>
                                    ₹&nbsp;<%= (products[i].pricing.price *
                                    cart[i].quantity).toFixed(2) %>
                                </td>
                            </tr>
                            <% } %>

                            <!-- Subtotal Row -->

                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td><h5>Subtotal</h5></td>
                                <td>
                                    <h5>₹&nbsp;<%= subtotal.toFixed(2) %></h5>
                                </td>
                            </tr>

                            <!-- Shipping Options -->
                            <!-- <tr class="shipping_area">
                                <td></td>
                                <td></td>
                                <td><h5>Shipping</h5></td>
                                <td>
                                    <div class="shipping_box">
                                        <ul class="list">
                                            <li>
                                                Flat Rate: $5.00
                                                <input
                                                    type="radio"
                                                    name="shipping"
                                                />
                                            </li>
                                            <li>
                                                Free Shipping
                                                <input
                                                    type="radio"
                                                    name="shipping"
                                                />
                                            </li>
                                            <li>
                                                Flat Rate: $10.00
                                                <input
                                                    type="radio"
                                                    name="shipping"
                                                />
                                            </li>
                                            <li class="active">
                                                Local Delivery: $2.00
                                                <input
                                                    type="radio"
                                                    name="shipping"
                                                />
                                            </li>
                                        </ul>
                                        <h6>
                                            Calculate Shipping
                                            <i
                                                class="fa fa-caret-down"
                                                aria-hidden="true"
                                            ></i>
                                        </h6>
                                        <select class="shipping_select">
                                            <option value="1">
                                                Bangladesh
                                            </option>
                                            <option value="2">India</option>
                                            <option value="3">Pakistan</option>
                                        </select>
                                        <select
                                            class="shipping_select section_bg"
                                        >
                                            <option value="1">
                                                Select a State
                                            </option>
                                            <option value="2">
                                                Select a State
                                            </option>
                                        </select>
                                        <input
                                            class="post_code"
                                            type="text"
                                            placeholder="Postcode/Zipcode"
                                        />
                                        <a class="btn_1" href="#"
                                            >Update Details</a
                                        >
                                    </div>
                                </td>
                            </tr> -->

                            <!-- Cart Actions -->
                            
                        </tbody>
                    </table>

                    <!-- Checkout Buttons -->
                    <div class="checkout_btn_inner float-right">
                        <a class="btn_1" href="#">Continue Shopping</a>
                        <a class="btn_1 checkout_btn_1" href="#"
                            >Proceed to checkout</a
                        >
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

  <script>
    function changeQty(button, delta) {
        const qtySpan = button.parentElement.querySelector(".qty-value");
        let quantity = parseInt(qtySpan.textContent);

        quantity += delta;
        if (quantity < 1) quantity = 1;

        qtySpan.textContent = quantity;
    }
</script>



<%- include('../partials/footer') %>
