<nav
    class="header-navbar navbar-expand-md navbar navbar-with-menu navbar-without-dd-arrow fixed-top navbar-semi-light"
>
    <div class="navbar-wrapper">
        <div class="navbar-container content m-0">
            <div class="collapse navbar-collapse show" id="navbar-mobile">
                <ul class="nav navbar-nav mr-auto float-left">
                    <li class="nav-item d-block d-md-none">
                        <a
                            class="nav-link nav-menu-main menu-toggle hidden-xs"
                            href="#"
                            ><i class="ft-menu"></i
                        ></a>
                    </li>
                    <li class="nav-item d-none d-md-block">
                        <a class="nav-link nav-link-expand" href="#"
                            ><i class="ficon ft-maximize"></i
                        ></a>
                    </li>
                    <li class="nav-item dropdown navbar-search">
                        <a
                            class="nav-link dropdown-toggle hide"
                            data-toggle="dropdown"
                            href="#"
                            ><i class="ficon ft-search"></i
                        ></a>
                        <ul class="dropdown-menu">
                            <li class="arrow_box">
                                <form>
                                    <div class="input-group search-box">
                                        <div
                                            class="position-relative has-icon-right full-width"
                                        >
                                            <input
                                                class="form-control"
                                                id="search"
                                                type="text"
                                                placeholder="Search here..."
                                            />
                                            <div
                                                class="form-control-position navbar-search-close"
                                            >
                                                <i class="ft-x"> </i>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav float-right">
                    <li class="dropdown dropdown-user nav-item">
                        <a
                            class="dropdown-toggle nav-link dropdown-user-link"
                            href="#"
                            data-toggle="dropdown"
                            aria-expanded="true"
                        >
                            <span class="avatar avatar-online"
                                ><img
                                    src="/images/user.png"
                                    alt="avatar" /><i></i></span
                        ></a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <div class="arrow_box_right">
                                <div class="dropdown-divider"></div>
                                <a
                                    class="dropdown-item"
                                    href="/admin/edit/<%= admin._id %>"
                                    ><i class="ft-user"></i> Edit Profile</a
                                >
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/admin/logout"
                                    ><i class="ft-power"></i> Logout</a
                                >
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<div
    class="main-menu menu-fixed menu-light menu-accordion menu-shadow"
    data-scroll-to-active="true"
    data-img="theme-assets/images/backgrounds/02.jpg"
>
    <div class="navbar-header">
        <ul class="nav navbar-nav flex-row">
            <li class="nav-item mr-auto">
                <a class="navbar-brand" href="/admin/dashboard"
                    ><img
                        class="brand-logo"
                        alt="Chameleon admin logo"
                        src="/admin/theme-assets/images/logo/logo.png"
                    />
                    <h3 class="brand-text">Chameleon</h3></a
                >
            </li>
            <li class="nav-item d-md-none">
                <a class="nav-link close-navbar"><i class="ft-x"></i></a>
            </li>
        </ul>
    </div>
    <div class="main-menu-content">
        <ul
            class="navigation navigation-main"
            id="main-menu-navigation"
            data-menu="menu-navigation"
        >
            <li
                class="nav-item <%= activePage === 'admin_dashboard' ? 'active' : '' %>"
            >
                <a href="/admin/dashboard"
                    ><i class="fa fa-home"></i
                    ><span class="menu-title">Dashboard</span></a
                >
            </li>
            <li
                class="nav-item <%= activePage === 'userManagement'||activePage==='userEdit' ? 'active' : '' %>"
            >
                <a href="/admin/userDetails"
                    ><i class="fas fa-users"></i><span>Users</span></a
                >
            </li>
            <% if (admin.role==1) { %>
            <li
                class="nav-item <%= activePage === 'adminManagement'||activePage==='adminEdit' ? 'active' : '' %>"
            >
                <a href="/admin/admins/details"
                    ><i class="fas fa-shield-alt"></i><span>Admin</span></a
                >
            </li>
            <% } %>
            <li class="nav-item has-sub <%= ['productListAdmin', 'productEdit', 'adminAddProduct'].includes(activePage) ? 'open' : '' %>">
    <a href="#">
        <i class="fas fa-boxes"></i>
        <span class="menu-title">Products</span>
    </a>
    <ul class="menu-content">
        <li class="<%= ['productListAdmin', 'productEdit'].includes(activePage) ? 'active' : '' %>">
            <a class="menu-item" href="/admin/products">All Products</a>
        </li>
        <li class="<%= activePage === 'adminAddProduct' ? 'active' : '' %>">
            <a class="menu-item" href="/admin/add_product">Add Product</a>
        </li>
    </ul>
</li>

            <li
                class="nav-item <%= activePage === 'adminCategory'||activePage==='addCategory'||activePage==='addCategoryEdit' ? 'active' : '' %>"
            >
                <a href="/admin/category"
                    ><i class="fas fa-list"></i
                    ><span class="menu-title">Categories</span></a
                >
            </li>
            <li
                class="nav-item <%= activePage === 'brandManagement'||activePage==='brandEdit' ? 'active' : '' %>"
            >
                <a href="/admin/brand"
                    ><i class="fas fa-tags"></i
                    ><span class="menu-title">Brand</span></a
                >
            </li>
            <li
                class="nav-item <%= activePage === 'orderManagement'||activePage==='orderEdit' ? 'active' : '' %>"
            >
                <a href="/admin/orders">
                    <i class="fas fa-box"></i>
                    <span class="menu-title">Orders</span>
                </a>
            </li>
            <li
                class="nav-item <%= activePage === 'bannerManagement'||activePage === 'AddBanner' ? 'active' : '' %>"
            >
                <a href="/admin/banners">
                    <i class="fas fa-image"></i>
                    <span class="menu-title">Banners</span>
                </a>
            </li>

            <li
                class="nav-item <%= activePage === 'reviewManagement' ? 'active' : '' %>"
            >
                <a href="/admin/reviews">
                    <i class="fas fa-star"></i>
                    <span class="menu-title">Reviews</span>
                </a>
            </li>

            <li
                class="nav-item <%= activePage === 'couponManagement'||activePage==='couponEdit' ? 'active' : '' %>"
            >
                <a href="/admin/coupons">
                    <i class="fas fa-ticket-alt"></i>
                    <span class="menu-title">Coupons</span>
                </a>
            </li>
        </ul>
    </div>
</div>
